.root {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  hr {
    width: 70%;
  }
  h3 {
    margin: 0;
  }
  h6 {
    display: inline-block;
  }
}

.info {
  padding: 10px;
  background: #fff;
  position: relative;
  margin: 0;
}
.infoText {
  padding-right: 10px;
}
.tags {
  padding: 0;
  h5 {
    margin: 0 3px;
    display: inline-block;
  }
}
.relative {
  padding: 0 10px;
  a {
    margin-right: 5px;
  }
}
.statNumber {
  .number {
    font-size: 22px;
    padding: 0 5px;
  }
  .label {
    font-size: 12px;
  }
}
.topLineFlex {
  margin: 0;
}