.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.list {
  flex: 2;
  overflow: auto;
}
.avatar {
  background-position: center top;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 4px;
  display: inline-block;
}
.agree {
  background: rgb(52, 177, 51);
}
.disagree {
  background: rgb(210, 65, 65);
}
.absent {
  background: rgb(154, 154, 154);
}
.abstention {
  background: rgb(154, 154, 154);
}

.tableHeading {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: var(--gray);
  align-items: center;
  font-weight: 700;
  color: #fff;
}
.tableRow {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  background: var(--white);
  border-bottom: 1px #ddd solid;
}
.flexFixed {
  flex: 0 0 50px;
  text-align: left;
  white-space: nowrap;
}
.flexExpand {
  flex: 2;
}
.sortButton {
  display: inline-block;
  color: #fff;
  :global(.fa-sort){
    opacity: 0.5;
  }
}