.tabBar {
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  overflow: visible;
}
.root {
  width: auto;
  overflow-y:scroll;
}

.tab {
  display: inline-block;
  min-width: 50px;
  padding: 5px 5px 2px;
  border-bottom: 3px solid transparent;
  &.active {
    border-color: #ccc;
  }
}