@import "scss/_custom.scss";

.card {
  display: block;
  background: #fff;
  padding: 10px;
  background: #f1f1f1;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  line-height: 0.5;
  &.withStatus {
    padding-right: 110px;
  }
  .status {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    background: #888;
    text-align: center;
    color: #fff;
    padding: 10px;
  }
}
.cardImage {
  @extend .background-cover;
  background-color: #B2E3FE;
  width: 100%;
  padding-bottom: 60%;
  
}