// Here you can add other styles
button:focus {
  outline: 1px auto -webkit-focus-ring-color;
}
.pointer {
  cursor: pointer;
}
.breadcrumb {
  margin-bottom: 0;
}
.main .container-fluid {
  padding: 10px 30px;
}
.img-avatar {
  border-radius: 4px;
}