.root {
  padding: 10px;
  overflow: hidden;
  color: #333;
  section {
    padding: 10px 0;
  }
  ul ul {
    padding-left: 10px;
  }
  :global(.row) {
    margin: 0;
  }
}
.reference {
  display: block;
  text-align: right;
  button {
    text-decoration: underline;
  }
}
.relative {
  a {
    margin: 0 10px 10px 0;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    div {
      margin: 0 auto;
      text-align: center;
    }
  }
}