.card {
  margin: 10px 0;
  .vote {
    width: 100%;
    vertical-align: middle;
    padding: 12px 15px;
    background: rgb(248,248,248);
    span {
      display: inline-block;
    }
    h5, h3 {
      margin: 0;
    }
  }
  &.passed {
    border-color: rgb(105, 172, 142);
    .vote {
      background: rgb(250, 255, 251);
      .voteResultBadge {
        background: rgb(86, 193, 104);
      }
    }
  }
  &.negatived {
    border-color: rgb(207, 207, 207);
    .vote {
      background: rgb(246, 246, 246);
      h4 {
        color: #666;
      }
      .voteResultBadge {
        background: rgb(193, 193, 193);
      }
    }
  }
}
.root {
  padding: 10px;
  padding-bottom: 90px;

}
.img {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 2px;
  &.absent {
    background: #fff;
    background-image: initial !important;
    border: 3px dotted #ccc;
  }
  &.abstention {
    opacity: 0.3;
  }
}
.memberVote {
  vertical-align: top;
  h3, img {
    vertical-align: top;
  }
}
.badge {
  display: inline-block;
  padding: 0;
  padding-left: 5px;
  :global(.badge) {
    background-color: rgb(154, 154, 154);
    position: relative;
    min-width: 74px;
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      margin-top: -6px;
      border-right: rgb(154, 154, 154) 5px solid;
      border-top: transparent 6px solid;
      border-bottom: transparent 6px solid;
    }
  }
  &.agree {
    :global(.badge) {
      background-color:rgb(52, 177, 51);
      &::before {
        border-right: rgb(52, 177, 51) 5px solid;
      }
    }
  }
  &.disagree {
    :global(.badge) {
      background-color:rgb(210, 65, 65);
      &::before {
        border-right: rgb(210, 65, 65) 5px solid;
      }
    }
  }
}